.demo-infinite-container { 
    
    padding: 8px 24px;
    overflow: auto;
    resize: horizontal;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    margin: 10px;
    background: #F8F9FA;
    width: 689px;
    min-width: 400px;
    max-width: 689px;
  }
  .demo-loading-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
  }